@layer base {

  @font-face {
    font-family: 'PoppinsRegular';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: 'PoppinsSemiBold';
    font-style: normal;
    font-weight: 600;
    src: url(/src/assets/fonts/Poppins-SemiBold.ttf);
  }

  @font-face {
    font-family: 'PoppinsBold';
    font-style: normal;
    font-weight: 700;
    src: url(/src/assets/fonts/Poppins-Bold.ttf);
  }

  @font-face {
    font-family: 'PoppinsItalic';
    font-style: italic;
    font-weight: 400;
    src: url(/src/assets/fonts/Poppins-Italic.ttf);
  }

  @font-face {
    font-family: 'PoppinsLight';
    font-style: italic;
    font-weight: 400;
    src: url(/src/assets/fonts/Poppins-Light.ttf);
  }

  @font-face {
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    src: url(/src/assets/fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: 'RobotoMedium';
    font-style: normal;
    font-weight: 500;
    src: url(/src/assets/fonts/Roboto-Medium.ttf);
  }

  @font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: 700;
    src: url(/src/assets/fonts/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: 'RobotoItalic';
    font-style: italic;
    font-weight: 400;
    src: url(/src/assets/fonts/Roboto-Italic.ttf);
  }

  @font-face {
    font-family: 'RobotoLight';
    font-style: italic;
    font-weight: 400;
    src: url(/src/assets/fonts/Roboto-Light.ttf);
  }

  @font-face {
    font-family: 'RobotoLightItalic';
    font-style: italic;
    font-weight: 400;
    src: url(/src/assets/fonts/Roboto-LightItalic.ttf);
  }
}

body {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}

input:focus {
  outline: none;
}

.fadein {
  animation: fadein 300ms ease-out forwards
}

.fadeinleft {
  animation: fadeinleft 300ms ease-out forwards
}

.fadeinright {
  animation: fadeinright 300ms ease-out forwards
}

.fadeinup {
  animation: fadeinup 300ms ease-out forwards
}

.fadeindown {
  animation: fadeindown 300ms ease-out forwards
}

.rotate {
  animation: rotate 500ms linear infinite;
}

.rotateslow {
  animation: rotate 10s reverse linear infinite;
}

.rotatedown {
  animation: rotatehalf 300ms ease-out forwards !important
}

.rotateup {
  animation: rotatehalf 300ms ease-in reverse forwards !important
}

.breathe {
  animation: breathe 3s ease-in-out alternate infinite;
}

.fastbreathe {
  animation: fastbreathe 20ms ease-in-out alternate infinite
}

@keyframes fadein {
  from {
    filter: opacity(0)
  }
  to {
    filter: opacity(1)
  }
}

@keyframes fadeinleft {
  from {
    transform: translateX(-20px);
    filter: opacity(0)
  }
  to {
    transform: translateX(0);
    filter: opacity(1)
  }
}

@keyframes fadeinright {
  from {
    transform: translateX(20px);
    filter: opacity(0)
  }
  to {
    transform: translateX(0);
    filter: opacity(1)
  }
}

@keyframes fadeinup {
  from {
    transform: translateY(20px);
    filter: opacity(0)
  }
  to {
    transform: translateY(0);
    filter: opacity(1)
  }
}

@keyframes fadeindown {
  from {
    transform: translateY(-20px);
    filter: opacity(0)
  }
  to {
    transform: translateY(0);
    filter: opacity(1)
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  from {
    transform: rotateZ(360deg);
  }
}

@keyframes rotatehalf {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-180deg);
  }
}

@keyframes breathe {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.6)
  }
}

@keyframes fastbreathe {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}